__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.db
*.log
logs/
.vscode/
.idea/
frontend/node_modules/
frontend/dist/
static/assets/
static/index.html
static/favicon.svg
static/icons.svg
